<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springcloud_provider.mapper.CustomerMapper">
    <select id="getById" resultType="com.example.springcloud_provider.bean.CustomerBean">
        SELECT * FROM customer where id =#{id}
    </select>
    <select id="getByNamePhone" resultType="com.example.springcloud_provider.bean.CustomerBean">
        SELECT * from customer where username like CONCAT("%",#{name},"%") AND phone_number like CONCAT("%",#{phoneNumber},"%")
    AND staff_id = #{id}
    </select>
    <update id="change">
        UPDATE customer
        SET phone_number=#{phoneNumber},
            username=#{username},
            address=#{address},
            total_consumption=#{totalConsumption},
            sex=#{sex}
        where id=#{id}
    </update>
    <delete id="deleteOne">
        delete from customer
        where id=#{id}
    </delete>
    <select id="getByEmployeeId" resultType="com.example.springcloud_provider.bean.CustomerBean">
        select * from customer
        where staff_id=#{id}
        order by recent_order_time desc
    </select>
    <insert id="addOne">
        insert into customer(id,phone_number,username,address,staff_id,sex,recent_order_time)
        values (#{id},#{phoneNumber},#{username},#{address},#{staff_id},#{sex},'2023:01:01 00:00:00')
    </insert>
    <select id="getAll" resultType="com.example.springcloud_provider.bean.CustomerStaffBean">
        SELECT customer.id as id,customer.phone_number as phoneNumber,customer.username as username,
               address,total_consumption, customer.sex as sex,recent_order_time ,
               staff.id as staffId,staff.username as staffUsername, staff.sex as staffSex,password,
               staff.phone_number as staffPhoneNumber
               FROM customer left join staff
                on customer.staff_id=staff.id
    </select>
    <select id="getByName" resultType="com.example.springcloud_provider.bean.CustomerBean">
        select * FROM customer where username=#{username}
    </select>
</mapper>