<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>客户注册页</title>
    <!-- 引入layui的CSS文件 -->

    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.5.7/css/layui.css">
    <style>
        /* 自定义样式 */
        .custom-header {
            font-size: 24px;
            /* 调整标题字体大小 */
        }

        .custom-welcome {
            font-size: 20px;
            /* 欢迎消息字体大小 */
        }

        .button-bar {
            display: flex;
            background-color: #333;
            /* 设置背景颜色 */
            padding: 10px;
            /* 设置内边距 */
            padding-right: 20px;
            text-align: center;
            /* 文本居中 */
            justify-content: flex-end;
        }

        .high-layui-input {
            height: 80px;
            /* Adjust the height as needed */
        }

        .custom-button-left {
            margin-left: 110px;
            /* Adjust the distance from the left edge as needed */
        }
    </style>
</head>

<body>

    <div class="layui-container">
        <div class="layui-row">
            <!-- 顶端消息-->
            <div class="layui-col-md12">
                <div class="layui-card">
                    <p>
                        <br>
                        <br>
                        <br>
                    </p>

                </div>
                <div class="layui-card-body layui-edge-right">
                    <button class="layui-btn " id="backBtn">返回</button>
                </div>
            </div>
        </div>

        <div class="layui-row">
            <!-- 客户信息左侧部分 -->
            <div class="layui-col-md6">
                <div class="layui-card">
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                        <div class="layui-card-header custom-header layui-edge-right">注册客户</div>
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">ID:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="ID" lay-verify="required" class="layui-input"
                                        placeholder="请输入客户ID">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">姓名:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="userName" lay-verify="required" class="layui-input"
                                        placeholder="请输入客户姓名">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">性别:</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="gender" value="男" title="男" checked>
                                    <input type="radio" name="gender" value="女" title="女">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">电话:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="phone" lay-verify="required" class="layui-input"
                                        placeholder="请输入客户电话">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">地址:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="address" lay-verify="required"
                                        class="layui-input high-layui-input" placeholder="请输入客户地址">
                                </div>
                            </div>
                            <button class="layui-btn custom-button-left" id="addBtn">注册</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>




    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/layui/2.5.7/layui.js"></script>
    <!-- 引入jQuery和Bootstrap的JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="/customer-detail.js"></script>

    <!-- 表格中的按钮 -->
    <script type="text/html" id="bar">
            <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="click">查看</button>
        </script>


    <script>
        layui.use(['form', 'laydate'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
        });
        var url = window.location.href;
        var employeeID = url.match(/\/addcustomer\/(\d+)$/)[1];


        $("#addBtn").click(function (event) {
            event.preventDefault();
            let id = $("#ID").val();
            let name = $("#userName").val();
            let gender = document.querySelector('input[name="gender"]:checked').value;
            let phone = $("#phone").val();
            let address = $("#address").val();
            let formData = {
                id:id,
                username: name,
                sex: gender,
                phoneNumber: phone,
                address: address,
                employeeID: employeeID
            }
            console.log(formData);
            $.ajax({
                type: "POST",
                url: "http://localhost:8080/employee/addcustomer",
                data: formData,
                success: function (response) {
                    if (response == "success") {
                        alert("添加成功");
                    }
                    else {
                        alert("添加失败:" + response);
                    }

                },
                error: function (error) {
                    alert("添加失败,该id已存在" );
                    console.log("Error:" + error);
                }
            });
        });
        // 返回
        $("#backBtn").click(function () {
            window.history.back();
        });
    </script>
</body>

</html>